@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap') 


.raleway-font {
    font-family: "Raleway", sans-serif;
}
.raleway-font {
    font-family: 'Raleway', sans-serif;
}

/* .date,
.day {
    background-color: skyblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

}

.day {
    background-color: lawngreen;
    font-size: 1em;

} */